
@{
    ViewBag.Title = "Перечень доступных для чтения книг";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="form-horizontal">
            <fieldset>
                <legend>@ViewBag.Title</legend>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Название книги</th>
                            <th>Автор</th>
                            <th>Тип использования</th>
                            <th>Время использования</th>
                        </tr>
                    </thead>
                    <tbody>
                      @*      @foreach (var book in (List<ShowBooksModel>)ViewBag.BookList)*@
                           @* {*@
                                <tr>
                                    <td>
                                        
                                    </td>
                                  @* nnnn *@
                                </tr>
                         @*   }*@
                        </tbody>
                </table>
            </fieldset>
        </div>
    </div>
</div>
